<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/Contact.css">
    <link rel="stylesheet" href="../static/style.css">

</head>

<body>
    <nav id="navbar">
        <ul>
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="/About">About</a></li>
            <li class="item"><a href="/Contact">Contact</a></li>
            <li class="item"><a href="/Services">Services</a></li>
        </ul>
    </nav>
    <section id="contactus">
        <h1>Contact us</h1>
        <form action="/Contact", method="Post" id="myform">
            <input type="text" name="name" class="myinput" placeholder="Enter your name">
            <input type="text" name="phone" class="myinput" placeholder="Enter your phone">
            <input type="text" name="email" class="myinput" placeholder="Enter your email">
            <input type="text" name="address" class="myinput" placeholder="Enter your address">
            <button id="btn">Submit</button>
        </form>
        
    </section>


    <footer id="footer">
        copyright @ copyright 2021 gauravrai575@gmail.com
    </footer>
</body>

</html>